<div class="welcome-container">
  <img src="/assets/welcome.png" class="bg-image" alt="Fundo da aplicação" />

  <div class="welcome-box">
    <h1>Bem vindo ao Meeting Manager</h1>
    <p>Gerencie suas reuniões e conecte-se em tempo real.</p>

    <div class="actions">
      <button routerLink="/login">Entrar</button>
      <button routerLink="/register">cadastrar</button>
    </div>
  </div>

  <footer class="welcome-footer">
    <p>
      Desenvolvido por <strong>Jhonny Lima</strong> -
      <a
        href="https://www.linkedin.com/in/jhonny-da-silva-lima-354a6a16b"
        target="_blank"
      >
        <i class="fab fa-linkedin"></i> LinkedIn
      </a>
    </p>
  </footer>
</div>
