.modal-container {
  width: 100%;
  max-width: 450px;
  padding: 20px;
}

.field {
  width: 100%;
  margin-bottom: 16px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  gap: 12px;
}
