<div class="login-container">
  <div class="login-box">
    <h2>Login</h2>
    <form>
      <input type="text" placeholder="Email" />
      <input type="password" placeholder="Senha" />
      <button type="submit">Entrar</button>
    </form>
    <p class="signup-link">
      Não tem uma conta? <a routerLink="/register">Cadastre-se</a>
    </p>
  </div>

  <div class="login-right">
    <h1>Bem vindo de volta ao Meeting Manager!</h1>
    ~
    <p>
      Desenvolvida para simplificar a organização de encontros profissionais e
      pessoais, esta aplicação web oferece uma solução completa para o
      gerenciamento de reuniões. Com uma interface intuitiva e recursos
      práticos, o sistema permite criar e excluir reuniões com facilidade,
      adicionar amigos à sua rede de contatos e enviar convites e solicitações
      de participação de forma rápida e eficiente.
    </p>
    <p>
      Ideal para equipes, grupos de estudo ou qualquer pessoa que precise manter
      suas reuniões organizadas, a aplicação centraliza todas as etapas do
      processo em um único ambiente digital. O foco está na agilidade,
      conectividade e controle, garantindo que cada reunião seja planejada com
      precisão e colaboração.
    </p>
  </div>
</div>
