body {
  background-color: #154bf1;
}

.login-container {
  display: flex;
  height: 100vh;
  position: relative;
}

.login-box {
  position: relative;
  z-index: 2;
  width: 50%;
  max-width: 700px;
  background: linear-gradient(135deg, #f0f0ff, #e0e0ff);
  border-radius: 50px;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.login-box h2 {
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  margin-bottom: 2rem;
}

.login-box input {
  width: 80%;
  padding: 12px;
  margin-bottom: 1rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-box button {
  width: 80%;
  padding: 14px;
  font-size: 1.2rem;
  border-radius: 6px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.login-box button:hover {
  background-color: #45a049;
}

.signup-link {
  margin-top: 1rem;
}

.signup-link a {
  color: #154bf1;
  text-decoration: none;
}

.login-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: #2873e4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 40px;
  text-align: right;
}

.login-right h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  background: linear-gradient(90deg, #ececf2, #f0f0ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.2;
}

.login-right p {
  font-size: clamp(0.9rem, 2.5vw, 1.3rem);
  line-height: 1.6;
  background: linear-gradient(90deg, #d8e1f3, #d0d1ed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1.5rem;
  font-weight: 600;
  width: 60%;
  word-wrap: break-word;
}
